*{
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar-image{
    width:50px;
    height: 50px;
}

.bg-navbar{
    background-color: #52d1dc;
}

.background{
    background-color: #bbbbbf;
}

.height-with-nav{
    min-height: calc(100vh - 56px);
}

.height-with-nav-activities{
    min-height: calc(100vh + 80px);
}

.bg-activities{
    background-color: #475b5a;
}

.bg-activities-content{
    background-color: #a3a9aa;
}

#education, #organization{
    font-size: 24px;
}

.border{
    border-radius: 13px;
}

.card{
    display: flex;
}

.card-img-top{
    height: 100px;
    width: 100px;
}

.card-img-top-flag{
    height: 99px;
    width: 165px;
}

.card-img-top-time{
    height: 100px;
    width: 165px;
}

.custom-br{
    display:block;
    width: 100%;
    height: 5vh;
    background-color: #475b5a;
}

.custom-br-random{
    display:block;
    width: 100%;
    height: 5vh;
    background-color: #bbbbbf;
}

.img-contact{
    width: 52px;
    height: 52px;
}

.contact-text {
    font-size: 24px;
}

.email{
    display: inline-block;
    vertical-align: middle;
}

.img-random{
    height: 120px;
    width: 160px;
}